{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Learn Dance</title>
<meta name='keywords' content='Lear Dance'/>
<meta name='description' content='Learn Dance is the best institute to learn dance. We offer dance classes to People of all age group '/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static "style.css" %}">

</head>
<body>
<div id="landing">
  <div class="header">
    <a href="#" class="logo">Learn Dance</a>
    <a href="#" class="button">Create Account</a>
    <a href="#" class="login">Login</a>
  </div>
</div>
{% block slider1 %} {% endblock %}
{% block mid %}{% endblock %}
{% block slider2 %}{% endblock %}
{% block footer %}
{% endblock %}
<script src="{% static "jquery-2.1.1.js" %}"></script>
<script src="{% static "script.js" %}"></script>
</body>
</html>
