{% load static %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="{% static "img/logo1.png"  %}">
		<title>Cen4PAL</title>
		<meta name='keywords' content='Center for Performance and learning,Detrroit,USA'/>
		<meta name='description' content='Center for Performance Arts and Learning strives to bring people together through dance,music,arts and culture.'/>
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Roboto+Slab:700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="{% static "css/style.css" %}">
		<link rel="stylesheet" href="{% static "css/component.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/image-gallery.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/recommendation.css" %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="{% static "js/modernizr.custom.js" %}"></script>

	</head>
	<body>
		<header class="site-header" role="banner">
           <!-- <div class="topbar">
		        <h1 class="site-title"><a href="#">
		            <img src="{% static "img/logo1.png" %}" alt="Jupiter" class="logo-medium">
		        </a></h1>
		        <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
		            <ul class="nav navbar-nav">
	                    <li><a href="{% url 'home' %}" class="icon ion-university">Home</a></li>
	                    <li><a href="{% url 'calendar_current_month' %}" class="icon ion-map">Event & Calendar</a></li>
	                    <li><a href="{% url 'gallery' %}" class="icon ion-chatbubbles">Gallery</a></li>
	                    <li><a href="#" class="icon ion-paper-airplane">Regester</a></li>
	                    <li><a href="{% url 'contact_us' %}" class="button button-red">Contact Us</a></li>
		            </ul>
                    </div>
		        </nav>
		    </div>
            -->
           <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #ffffff">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <img src="{% static "img/logo1.png" %}" width="auto" height="50" >
                    </div>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'calendar_current_month' %}">Event & Calendar</a></li>
                        <li><a href="{% url 'gallery' %}">Gallery</a></li>
                        <li><a href="#">Register</a> </li>
                        <a href="{% url 'contact_us' %}"><button class="btn btn-danger navbar-btn">Contact Us</button></a>
                    </ul>
                    </div>

                </div>
            </nav>


			<div class="demo-1">
				<main>
					<div class="page-view">
						<div class="project">
							<div class="text">
								<div class="container">
									<p style="color: white; text-align: center;">“Center for Performance Arts and Learning”</p>
								</div>
							</div>
						</div>
						<div class="project">
							<div class="text">
								<p style="color: white; text-align: center;">“Fall In Love With Dance”</p>
							</div>
						</div>

						<div class="project">
							<div class="text">
								<p style="color: white; text-align: center;">“Make us your Dance Partner”</p>
							</div>
						</div>
						<div class="project">
							<div class="text">
								<p style="color: white; text-align: center;">“Bringing People together through Dance Arts and Culture”</p>
							</div>
						</div>
						<div class="bullets">
							<div class="arrow previous">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="208.3 352 4.2 6.4" style="enable-background:new 208.3 352 4.2 6.4;" xml:space="preserve">
									<polygon class="st0" points="212.1,357.3 211.5,358 208.7,355.1 211.5,352.3 212.1,353 209.9,355.1"></polygon>
								</svg>
							</div>
							<div class="arrow next">
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
									 viewBox="208.3 352 4.2 6.4" style="enable-background:new 208.3 352 4.2 6.4;" xml:space="preserve">
									<polygon class="st0" points="212.1,357.3 211.5,358 208.7,355.1 211.5,352.3 212.1,353 209.9,355.1"></polygon>
								</svg>
							</div>
						</div>
					</div>
				</main>
			</div>
		</header>

		<main role="main" class="site-main">


	    <section class="fixed-width highlighted-bg center-align" scroll_target="facilities">
	        <h2>Center for Performance arts and Learning</h2>
	        <div class="col fourth">
	            <h2>Bringing People Together</h2>
	            <img src="{% static "img/dance1.png" %}" alt="" class="landing-icon" >
	            <ul class="large-list">
	            	<li class="icon ion-ios-star">Center for Performance Arts and Learning strives to bring people together through dance,music,arts and culture.</li>
	            </ul>
	        </div>

	        <div class="col fourth">
	            <h2>We want to be your Dance Family.</h2>
	            <img src="{% static "img/logo1.png" %}" alt="" class="landing-icon">
	            <ul class="large-list">
	            	<li class="icon ion-ios-star">Cen4PAL has provided a quality performing arts education for people of all ages and skill levels, in a friendly environment.</li>
	             </ul>
	        </div>

	        <div class="col fourth">
	            <h2>Learn,Collaborate and Thrive</h2>
	            <img src="{% static "img/dance2.jpg" %}" alt="" class="landing-icon">
	            <ul class="large-list">
	            	<li class="icon ion-ios-star">We here at Cen4PAL provide a center "A Room" to Learn,Reflect,Collaborate and Thrive .</li>
	           	</ul>
	        </div>

	        <div class="col fourth">
	            <h2>Unity In Diversity</h2>
	            <img src="{% static "img/dan2.jpg" %}" alt="" class="landing-icon">
	            <ul class="large-list">
	           		<li class="icon ion-ios-star">We are dedicated to build a strong culture of acceptance and collaboration in diverse cultural communities .</li>
	           </ul>
	        </div>
	    </section>

	    <section class="fixed-width center-align">
	        <h2>Why you should join us:</h2>

	        <ul class="large-list">
	            <li class="icon ion-ribbon-b">It is not just an institution but plays leading role in manpower and confidence building.</li>
	            <li class="icon ion-ribbon-b">Supported by an experienced teacher.</li>
	            <li class="icon ion-ribbon-b">Specific classes to recognize the temperament and potential of students for every age.</li>
	            <li class="icon ion-ribbon-b">In a short period we have shown achievements which are unparallel in the existing dance institutions.</li>
	        </ul>

	        <a href="{% url 'contact_us' %}" class="button button-yellow">Conatct Us</a>
	    </section>

		<section class="fixed-width highlighted-bg">
		    <h2>Our Mission</h2>
			<div id="cbp-qtrotator" class="cbp-qtrotator">
				<div class="cbp-qtcontent">
					<img src="{% static "img/Nandita.jpg" %}" alt="Nandita" />
					<blockquote>
	                    <p>We Strive to bring people together through dance,music,arts and culture.Creating and fostering an all-inclusive environment dedicated to building a strong culture of acceptance,empowerment and collaboration,spanning diverse cultural communities</p>
						<footer>Nandita Bajaj
							<br>
							Director
							<br>
							Cen4PAL
							</br>
						</footer>
					</blockquote>
				</div>
			</div>
		</section>
	</main>

	<footer class="site-footer" role="contentinfo">
	    <ul class="inline-list">
	        <li><a href="" class="icon ion-speakerphone">Blog</a></li>
	        <li><a href="" class="icon ion-social-linkedin">LinkedIn</a></li>
	        <li><a href="" class="icon ion-social-facebook">Facebook</a></li>
	        <li><a href="" class="icon ion-social-twitter">Twitter</a></li>
	        <li><a href="" class="icon ion-locked">Privacy</a></li>
	    </ul>
	</footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="{% static "js/zepto.min.js" %}"></script>
	<script src="{% static "js/demo.js" %}"></script>
	<script src="{% static "js/main-script.js" %}"></script>
	<script src="{% static "js/jquery-2.1.1.js" %}"></script>
	<script src="{% static "js/modernizr-custom.js" %}"></script>
	<script src="{% static "js/imagesloaded.pkgd.min.js" %}"></script>
	<script src="{% static "js/masonry.pkgd.min.js" %}"></script>
	<script src="{% static "js/classie.js" %}"></script>
	<script src="{% static "js/main.js" %}"></script>

	<script>
		(function() {
			// create SVG circle overlay and append it to the preview element
			function createCircleOverlay(previewEl) {
				var dummy = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
				dummy.setAttributeNS(null, 'version', '1.1');
				dummy.setAttributeNS(null, 'width', '100%');
				dummy.setAttributeNS(null, 'height', '100%');
				dummy.setAttributeNS(null, 'class', 'overlay');
				var g = document.createElementNS('http://www.w3.org/2000/svg', 'g');
				var circle = document.createElementNS("http://www.w3.org/2000/svg", "circle");
				circle.setAttributeNS(null, 'cx', 0);
				circle.setAttributeNS(null, 'cy', 0);
				circle.setAttributeNS(null, 'r', Math.sqrt(Math.pow(previewEl.offsetWidth,2) + Math.pow(previewEl.offsetHeight,2)));
				dummy.appendChild(g);
				g.appendChild(circle);
				previewEl.appendChild(dummy);
			}

			new GridFx(document.querySelector('.grid'), {
				onInit : function(instance) {
					createCircleOverlay(instance.previewEl);
				},
				onResize : function(instance) {
					instance.previewEl.querySelector('svg circle').setAttributeNS(null, 'r', Math.sqrt(Math.pow(instance.previewEl.offsetWidth,2) + Math.pow(instance.previewEl.offsetHeight,2)));
				},
				onOpenItem : function(instance, item) {
					// item's image
					var gridImg = item.querySelector('img'),
						gridImgOffset = gridImg.getBoundingClientRect(),
						win = {width: document.documentElement.clientWidth, height: window.innerHeight},
						SVGCircleGroupEl = instance.previewEl.querySelector('svg > g'),
						SVGCircleEl = SVGCircleGroupEl.querySelector('circle');

					SVGCircleEl.setAttributeNS(null, 'r', Math.sqrt(Math.pow(instance.previewEl.offsetWidth,2) + Math.pow(instance.previewEl.offsetHeight,2)));
					// set the transform for the SVG g node. This will animate the circle overlay. The origin of the circle depends on the position of the clicked item.
					if( gridImgOffset.left + gridImg.offsetWidth/2 < win.width/2 ) {
						SVGCircleGroupEl.setAttributeNS(null, 'transform', 'translate(' + win.width + ', ' + (gridImgOffset.top + gridImg.offsetHeight/2 < win.height/2 ? win.height : 0) + ')');
					}
					else {
						SVGCircleGroupEl.setAttributeNS(null, 'transform', 'translate(0, ' + (gridImgOffset.top + gridImg.offsetHeight/2 < win.height/2 ? win.height : 0) + ')');
					}
				}
			});
		})();
	</script>
		<script>
			$( function() {
			$( '#cbp-qtrotator' ).cbpQTRotator();
			} );
		</script>

	<script src="{% static "js/scroll.js" %}"></script>
	<script src="{% static "js/jquery.cbpQTRotator.min.js" %}"></script>
	</body>
</html>