{% extends 'home/base.html' %}
{% load static %}
{% block mid %}
<div class="feature">
    <img class="picture" src="{% static "dance2.jpg" %}" />
    <h4 class="caption">Bringing People Together</h4>
    <p class="summary">Center for Performance Arts and Learning strives to bring people together through dance,music,arts and culture.</p>
  </div>

  <div class="feature">
    <img class="picture" src="{% static "logo1.png" %}" />
    <h4 class="caption">We want to be your Dance Family.</h4>
    <p class="summary">Center for Performance arts and Learning  has provided a quality performing arts education for people of all ages and skill levels, in a friendly environment. Their qualified instructors teach not only technique, but they help instill life skills that can last a lifetime.

</p>
  </div>

  <div class="feature">
    <img class="picture" src="{% static "dance2.jpg" %}" />
    <h4 class="caption">Learn,Collaborate and Thrive</h4>
    <p class="summary">We here at Cen4PAL provide a center "A Room" to Learn,Reflect,Collaborate and Thrive .</p>
  </div>
{% endblock %}