{% extends 'home/base.html' %}
{% load static %}
{% block slider2 %}
<div class="slider slider-2">
      <img class="ratio" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7" />

      <input class="slide" type="radio" name="slider-2" id="s-2-1" /><label for="s-2-1"></label>
      <div>
        <img src="{% static "dance5.png" %}"/>
        <div class="content">
          <h3>Our Mission</h3>
          <p>
            We Strive to bring people together through dance,music,arts and culture.Creating and fostering an all-inclusive environment dedicated to building a strong culture of acceptance,empowerment and collaboration,spanning diverse cultural communities.
          </p>
          <small>
            Nandita Bajaj<br />
            Director <br />
            Cen4PAL
          </small>
        </div>
      </div>

      <input class="slide" type="radio" name="slider-2" id="s-2-2" checked /><label for="s-2-2"></label>
      <div>
        <img src="{% static "dance5.png" %}" />
        <div class="content">
          <h3>Our Mission</h3>
          <p>
            We Strive to bring people together through dance,music,arts and culture.Creating and fostering an all-inclusive environment dedicated to building a strong culture of acceptance,empowerment and collaboration,spanning diverse cultural communities.
          </p>
          <small>
            Nandita Bajaj<br />
            Director<br />
            Cen4PAL
          </small>
        </div>
      </div>

      <style type="text/css">
      #landing .slider-2 img.ratio {padding:0 30.4%;}
      #landing .slider-2 {margin-top:6em;}
      #landing .slider-2 .content h3 {font-size:1.125em; margin:0 0 3em; color:#99ce45; text-transform:uppercase; font-weight:normal;}
      #landing .slider-2 .content p {font-size:1.3em; color:#fff;}
      #landing .slider-2 .content small {font-size:1.125em; margin:3em 0 0; display:block; color:#fff; text-transform:uppercase; font-weight:normal;}

      #landing .slider-2 #s-2-1 + label + div > .content {max-width:30%; margin:8% 0 0 17%;}
      #landing .slider-2 #s-2-1 + label + div > .content p {font-size:1.6em}
      #landing .slider-2 #s-2-2 + label + div > .content {max-width:35%; margin:8% 0 0 16%;}
    </style>
  </div>
{% endblock %}