{% extends 'gallery/base.html' %}
{% load static %}
{% block title %}Video{% endblock %}

{% block content %}

    <div class="row">
        <div class = "col-md-2">
            <h2>Categories</h2>
            {% if categories %}
            <ul>
                {% for category in categories %}
                    <li style="text-align: left"><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <p>There are no posts.</p>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h2>Videos</h2>
    <div class = "row">
        {% if videos %}
                <ul>
                {% for video in videos %}
                    <div class="col-md-7">
                    <div class="thumbnail">
                          <video id="vid1" class="video-js vjs-default-skin" controls width="640" height="264" data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "{{ video.video }}"}] }'></video>
                    </div>
                    </div>
                {% endfor %}
                </ul>
            {% endif %}

    </div>
        </div>

{% endblock %}