{% extends 'gallery/base.html' %}
{% block head_title %}Viewing category {{ category.title }}{% endblock %}
{% block title %}{{ category.title }}
{% endblock %}

{% block content %}
{% if images %}
                <ul>
                    {% for image in images %}
                        <span class="col-lg-3 col-md-4 col-xs-6">
                            <span class="thumbnail">
                                <a href="{{ image.image.url }}" data-lightbox="{{ image.category }}" data-title="{{ image.caption }}"><img src="{{ image.image.url }}"></a>
                            </span>
                        </span>
                    {% endfor %}
                </ul>
{% endif %}
    {% if videos %}
                <ul>
                {% for video in videos %}
                    <span class="col-md-6">
                    <span class="thumbnail">
                    <video  id="vid1"
                           class="video-js vjs-default-skin"
                           controls autoplay width="550" height="auto"
                           data-setup='{ "techOrder": ["youtube"],
                           "sources": [{ "type":
                           "video/youtube","src": "{{ video.video }}"}] }'>
                    </video>
                    </span>
                    </span>
                {% endfor %}
                </ul>
            {% endif %}
{% endblock %}
